/* CSS TOURISM  */
body{
    background-color: #E5EEFF;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10cm 0;
}

.title-media{
    display:none;
    text-align: center;
    background-color: #020253;
    /* grid-row-start: span 2;
    grid-column-start: span 2; */
    padding: 0 75px;
    width: 100vw;

}

.title{
    
    text-align: center;
    background-color: #020253;
    grid-row-start: span 2;
    grid-column-start: span 2;
    padding: 75px;
    /*  */   

}
.title-media>p{
   
padding: 0 160px;
}

.title>h1 , .title-media>h1{
    
    font: normal normal bold 61px/80px Assistant;
    color:#0EE1DA;
    /* text-align: center; */
}

.title>p , .title-media>p{    
    
    font: normal normal normal 20px/26px Assistant;
    color: #F9F9F9;
    font-size: 20px;
    padding: 0 75px;    
}



.grid{
    display: grid;
    grid-template-columns: repeat(4,296px);
    width:(1246px);
    gap: 20px;  
    grid-gap: 35px;
    
}

form{
    background-color: #8E097C;
    text-align: center;
    grid-row-start: span 3;
    grid-column-start: span 2;
    padding: 63px;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* */
    border: 20px solid #E5EEFF;
    height: 816px;
    width: 505px; /* ----- */

}
form>h3{
    font: normal normal bold 35px/46px Assistant;
    color: #FFFFFF;
}

form>p {
  font: normal normal normal 20px/26px Assistant;
  color: #F9F9F9;
  
}

.input-group{
    text-align: right;
  display:flex;
  flex-direction: column;
  gap: 5px;
}
.input-group > input{
    background: #E5EEFF 0% 0% no-repeat padding-box;
    border: none;
    font-size: 20px;
    color: #0EE1DA;
    padding: 10px 0;
    border-bottom: 4px solid;
} 
.input-group > textarea{
  background: #E5EEFF 0% 0% no-repeat padding-box;
    border: none;
    font-size: 20px;
    color: #0EE1DA;
    padding: 10px 0;
    border-bottom: 4px solid;
    height: 172.2px;
    /* rows:8px;
    cols:50px; */
    resize:vertical;
    
}

/* input{
    background: #E5EEFF 0% 0% no-repeat padding-box;
    border: none;
    font-size: 20px;
    color: #0EE1DA;
    padding: 10px 0;
    border-bottom: 4px solid;
} */
label{
    color: #0EE1DA;
    font: normal normal bold 16px/24px Heebo;
    
}
button{
    color: #011560;
    font: normal normal bold 24px/33px Heebo;
    background-color: #0EE1DA;
    border-radius: 0;
    border:none;
    padding: 8px 0;
}

@media (max-width: 1450px) {
    
     body{
        /* display: block; 1450px*/
        flex-direction: column;
        /* gap: 20px; */
        padding: 0;
        gap: 10px;
    }
    .title{
    display: none;
    width: 100vw;
    
    /*  */   

    }
    .title-media{
        display: block;
    }

    .grid{    
       
    grid-template-columns: repeat(2,296px);    
    }
    .form{
        grid-area: 5 / 1 / 7 / 3;
    }
    
}